{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

  <form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="submit" class="btn btn-primary">
  {% bootstrap_icon "star" %} Submit
  </button>
  {% endbuttons %}
  </form>

<script>
    window.onload = function() {
        $("#id_phone").attr({'type':'tel',
                'pattern':'[0-9]{10}',
				'oninvalid':'setCustomValidity("Please provide a valid 10 digits phone number")',
				'onchange':"try{setCustomValidity('')}catch(e){}"}).keypress(function (e) {
     //if the letter is not digit then display error and don't type anything
     if (e.which !== 8 && e.which !== 0 && (e.which < 48 || e.which > 57)) {
               return false;
		}
		});
    }
</script>
{% endblock %}
